body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
body {
  background: url(../assets/background.jpeg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(230, 182, 120, 0.5);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 320px;
}
.form input {
  width: 90%; padding: 10px; margin: 10px 0;
  border: 1px solid #333; border-radius: 5px;
  font-size: 16px;
  background-color: beige;
}
.form button {
  width: 100%; padding: 10px; 
  background: #cc3000d0; 
  color: white;
  border: none; border-radius: 5px; font-size: 18px; cursor: pointer;
}
.form button:hover {
  background: #a30000;
}
.hidden { display: none; }
#message { margin-top: 15px; color: red; text-align: center; }